In [64]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [43]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
print(train_df.shape)
train_df.head()

(1460, 81)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

<h4>Counting Null Values</h4>

In [44]:
def null_info(data):
    null_df = data.isnull().sum().sort_values(ascending=False).reset_index()
    rows = data.shape[0]
    null_df.columns = ['column_name', 'null_count']
    null_df['null_percentage'] = null_df['null_count']/rows
    return null_df

In [53]:
null_info(test_df).head(10)

    column_name  null_count  null_percentage
0        PoolQC        1456         0.997944
1   MiscFeature        1408         0.965045
2         Alley        1352         0.926662
3         Fence        1169         0.801234
4   FireplaceQu         730         0.500343
5   LotFrontage         227         0.155586
6    GarageCond          78         0.053461
7    GarageQual          78         0.053461
8   GarageYrBlt          78         0.053461
9  GarageFinish          78         0.053461

<h4>Column types and # of unique categorical varibles for categorical columns</h4>

In [57]:
train_df.dtypes.value_counts()

object     43
int64      35
float64     3
dtype: int64

In [63]:
train_object = train_df.select_dtypes('object').apply(pd.Series.nunique, axis=0).sort_index()
#test_object = test_df.select_dtypes('object').apply(pd.Series.nunique, axis=0).sort_index()
#pd.concat([train_object, test_object], axis=1).sort_values(by=0, ascending=False).head()
train_object.sort_values(ascending=False).head()

Neighborhood    25
Exterior2nd     16
Exterior1st     15
SaleType         9
Condition1       9
dtype: int64

In [66]:
train_df['Neighborhood'].unique()

array(['CollgCr', 'Veenker', 'Crawfor', 'NoRidge', 'Mitchel', 'Somerst',
       'NWAmes', 'OldTown', 'BrkSide', 'Sawyer', 'NridgHt', 'NAmes',
       'SawyerW', 'IDOTRR', 'MeadowV', 'Edwards', 'Timber', 'Gilbert',
       'StoneBr', 'ClearCr', 'NPkVill', 'Blmngtn', 'BrDale', 'SWISU',
       'Blueste'], dtype=object)

In [ ]:
#handle null values

In [72]:
objs = (train_df.dtypes == 'object')
obj_columns = list(objs[objs].index)
#obj_columns

<h5>Using One Hot Encoder for categorical variables</h5>

In [74]:
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse='False')

In [84]:
# OH_train_df = train_df[obj_columns].dropna(axis=1).apply(OH_encoder.fit_transform)
# #OH_test_df = test_df[obj_columns].apply(OH_encoder.fit_transform)
# OH_train_df.head()
#train_df[obj_columns].head()

TypeError: ('argument must be a string or number', 'occurred at index Alley')