In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [3]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
print(train_df.shape)
train_df.head()

(1460, 81)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

<h4>Counting Null Values</h4>

In [4]:
def null_info(data):
    null_df = data.isnull().sum().sort_values(ascending=False).reset_index()
    rows = data.shape[0]
    null_df.columns = ['column_name', 'null_count']
    null_df['null_percentage'] = null_df['null_count']/rows
    return null_df

In [40]:
null_table_train = null_info(train_df)
null_table_test = null_info(test_df)
null_table_train.head(15)
#null_table_test.head(10)

     column_name  null_count  null_percentage
0         PoolQC        1453         0.995205
1    MiscFeature        1406         0.963014
2          Alley        1369         0.937671
3          Fence        1179         0.807534
4    FireplaceQu         690         0.472603
5    LotFrontage         259         0.177397
6     GarageCond          81         0.055479
7     GarageType          81         0.055479
8    GarageYrBlt          81         0.055479
9   GarageFinish          81         0.055479
10    GarageQual          81         0.055479
11  BsmtExposure          38         0.026027
12  BsmtFinType2          38         0.026027
13  BsmtFinType1          37         0.025342
14      BsmtCond          37         0.025342

<h4>Column types and # of unique categorical varibles for categorical columns</h4>

In [6]:
train_df.dtypes.value_counts()

object     43
int64      35
float64     3
dtype: int64

In [24]:
train_object = train_df.select_dtypes('object').apply(pd.Series.nunique, axis=0).sort_index()
# test_object = test_df.select_dtypes('object').apply(pd.Series.nunique, axis=0).sort_index()
# pd.concat([train_object, test_object], axis=1).sort_values(by=0, ascending=False).head(10)
train_object.sort_values(ascending=False).head()

Neighborhood    25
Exterior2nd     16
Exterior1st     15
SaleType         9
Condition1       9
dtype: int64

<h5>Handling Null Values</h5>

In [38]:
cols_to_drop = list(null_table_train[null_table_train['null_percentage'] > 0.15]['column_name'])
train_df2 = train_df.drop(cols_to_drop, axis=1)
test_df2 = test_df.drop(cols_to_drop, axis=1)
train_df2.shape, test_df2.shape

((1460, 75), (1459, 74))

In [48]:
objs = (train_df2.dtypes == 'object')
obj_columns = list(objs[objs].index)

<h5>Using One Hot Encoder for categorical variables</h5>

In [53]:
ohe = OneHotEncoder(handle_unknown='ignore', sparse='False')

In [56]:
train_df2[obj_columns].head()

,MSZoning,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,...,Electrical,KitchenQual,Functional,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,SaleType,SaleCondition
0,RL,Pave,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,...,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
1,RL,Pave,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,...,SBrkr,TA,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
2,RL,Pave,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,...,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
3,RL,Pave,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,...,SBrkr,Gd,Typ,Detchd,Unf,TA,TA,Y,WD,Abnorml
4,RL,Pave,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,...,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD,Normal

In [55]:
OH_train_cols = pd.DataFrame(ohe.fit_transform(train_df2[obj_columns]))
#OH_test_cols = pd.DataFrame(ohe.fit_transform(test_df2[obj_columns]))

ValueError: Input contains NaN